* {
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 0;
    font-family: 'Open Sans';
    line-height: 1.5;
    font-size: 1.2em;
}

nav, footer {
    background: grey;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2% 0;
    z-index: 10;
}

header {
    padding: 20%;
}

section {
    background: lightgray;
    border: solid darkgray 2px;
    padding: 5% 0;
    min-height: 200px;
}

footer {
    padding: 4% 0;
}