* {
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background: #F3F3F3;
    color: #4A4A4A;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

nav, footer {
    background: #F3F3F3;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2% 0;
    z-index: 10;
}

.nav-bar {
    display: inline-block;
}

.logo {
    max-height: 60px;
}

.nav-item a {
    color: #4A4A4A;
    text-decoration: none;
    padding: 5px;
}

.nav-item a:hover {
    background: #EF5000;
    color: #221E1F;
    cursor: pointer;
    transition: background-color 1s;
}

header {
    padding: 15%;
}

section {
    background: #E5E4E9;
    padding: 5% 0;
    min-height: 200px;
}

footer {
    padding: 4% 0;
    background: #221E1F;
    color: #F3F3F3;
}